.o-about{
  background: c(l);
  background: -webkit-linear-gradient(rgb(255 255 255 / 87%), rgb(255 255 255 / 87%)), url(../dist/img/beuys_3200dpi.jpg);
  background: linear-gradient(rgb(255 255 255 / 87%), rgb(255 255 255 / 87%)), url(../dist/img/beuys_3200dpi.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}