.o-allContent {
  width: 100%;
  height: calc(100vh - 9rem);
  margin-top: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include media("<tablet") {
    margin: 0 0 7rem 0;
    height: calc(100vh - 7rem);
  }
  @include media("<677px") {
    height: unset;
  }

}

.o-container {
  position: relative;
  top: 0;
  bottom: 0;

  &.-fullWidth {
    width: 100%;
  }

  &.-content {
    width: 80%;
    margin: auto;
  }

  &.-light {
    background-color: c(l);
  }

  &.-dark {
    background-color: c(d);
  }
}

.a-logo {
  & > * {
    display: block;
    width: max-content;
    text-align: center;
    @include media("<tablet") {
      font-size: 0.7rem;
    }
    @include media("<500px") {
      font-size: 1.8vw;
    }
  }

  svg {
    fill: c(d);
    -webkit-animation: heartbeat 2.5s ease-out infinite reverse both;
    animation: heartbeat 2.5s ease-out infinite reverse both;

    @include media("<tablet") {
      height: 35px;
    }
  }
}

.a-button {
  border: none;
  border-radius: 3px;
  padding: 0.2em 1.5em;
  display: flex;
  align-items: center;

  &:hover {
    cursor: pointer;
  }

  &.-firstAccentColor {
    background: c(a1);

    &:hover {
      background: c(ah1);
    }
  }

  &.-secondAccentColor {
    background: c(a2);

    &:hover {
      background: c(ah2);
    }
  }
}

.a-search {
  margin: 0 2rem;
  @include media("<990px") {
    display: none;
  }

  &__mobile {
    margin: 2vw;
    display: none;
    align-self: center;
    @include media("<990px") {
      display: block;
      width: 50%;
    }
    @include media("<600px") {
      width: 90%;
    }
  }
}
.is-form-style.is-form-style-3 label {
  width: calc(100% - 22px) !important;
}

.is-form-style input.is-search-input {
  height: 22px !important;
}

.is-form-style button.is-search-submit {
  height: 22px !important;
  width: 22px !important;
}

.is-form-style input.is-search-submit, .is-search-icon {
  height: 22px !important;
}

.is-search-icon {
  width: auto !important;
  padding-top: 0 !important;
}
.is-search-icon svg {
  width: 100% !important;
}
.elementor a {
  color: c(ah1) !important;
}

///////////////////////////////////////////
.page-loading-content-area {
  margin-top: 10.4rem;
}

