//Preloader
//.main-preloader {
//  position: fixed;
//  z-index: 99;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  min-height: 100vh;
//  display: flex;
//  align-items: center;
//  justify-content: center;
//  background-color: #000000;
//}
//
//.main-preloader-inner {
//  width: 15%;
//  height: 15%;
//  display: inline-flex;
//  flex-direction: row;
//  align-items: center;
//}
//
//#main-preloader-triangle {
//  width: 200px;
//  height: 200px;
//}
//
//.main-preloader.hidden {
//  animation: fadeOut 1s;
//  animation-fill-mode: forwards;
//  -webkit-animation-name: fadeOut;
//  -webkit-animation-duration: 1s;
//  -webkit-animation-fill-mode: forwards;
//}
//
//@keyframes fadeOut {
//  100% {
//    opacity: 0;
//    visibility: hidden;
//  }
//}
//
//
//@keyframes bounceOut {
//  20% {
//    transform: scale3d(0.9, 0.9, 0.9);
//  }
//
//  50%,
//  55% {
//    opacity: 1;
//    transform: scale3d(1.1, 1.1, 1.1);
//  }
//
//  to {
//    opacity: 0;
//    transform: scale3d(0.3, 0.3, 0.3);
//  }
//}


//
/*#sidebar, .front-sidebar, #logo, .menu-menu-container, .contacts{
  animation-duration: 2s;
  animation-name: slidein;
  }
  
  @keyframes slidein {
  
    from {
  
      margin-left: 50%; 
  
    }
  
  
  
    to {
  
      margin-left: 0%;
  
    }
  
  }*/

@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.93);
    transform: scale(0.93);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: center center;
    transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.93);
    transform: scale(0.93);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}