html {
  font-size: 12px;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fff;
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000;
  letter-spacing: 0.05em;
  line-height: 1.25;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 3.5rem;
  line-height: 3.5rem;

}

h3 {
  font-size: 1.7rem;
}

h4 {
  font-size: 1rem;
}


p, ul, ol {
  margin: 0;
}

blockquote {
  padding: 5px 0 5px 15px;
  margin: 0 0 20px;
  font-style: italic;
  background: #FFF;
  border-left: 5px solid #9DB668;
}

strong {
  color: #111;
}

img {
  border: 0;
  max-width: 100%;
  height: auto;
}

a {
  &:link, &:visited, &:hover {
    text-decoration: none;
    color: #000000;
  }
}

.ie {
  display: none;
}

ul {
  list-style-type: none;
  text-decoration: none;
}

ol {
  list-style-type: none;
  padding-left: 25px;
}

ul li, ol li {
  padding: 0 0;
}