@function fs($font-size) {
  @return map-get($fonts, $font-size)
}

$fonts: (s: 1rem,
        m: 1.2rem,
        h: 1.7rem);


@mixin f($font-size) {
  @if $font-size==s {
    font-size: 1rem;
  }

  @else if $font-size==m {
    font-size: 1.2rem;
    padding: 0;
  }

  @else {
    color: red;
  }
}

@mixin p($font-size) {

  @if $font-size==m {
    padding: 1.2rem 0;
  }

  @else {
    color: red;
  }
}

