.o-footer {
  height: max-content;
  top: unset;
  bottom: 0;

  &__container{
    display: flex;
    flex-direction: column;
  }

  &__columns{
    display: grid;
    grid-template-areas:
    'column1 column2'
    'column3 column3';
    grid-gap: 0 35vw;

    @include media("<1024px") {
      grid-gap: 0 30vw;
    }
    @include media("<920px") {
      grid-gap: 0 25vw;
    }
    @include media("<830px") {
      grid-gap: 0 20vw;
    }
    @include media("<tablet") {
      grid-gap: 0 15vw;
    }
    @include media("<713px") {
      grid-gap: 0 10vw;
    }
    @include media("<677px") {
      grid-template-areas:
    'column1'
    'column2'
    'column3';
    }
  }
  &__column:nth-child(1){
    grid-area: column1;
  }
  &__column:nth-child(2){
    grid-area: column2;
  }
  &__column:nth-child(3){
    grid-area: column3;
  }

  &__text {
    @include p(m);
    color: c(l);
    white-space: nowrap;
    display: flex;
    flex-direction: column;

    @include media("<677px") {
      text-align: center;
    }

    &.-line{
      @include f(m);
    }
  }
}

.m-socialLinks {
  display: flex;
  gap: 1rem;

  @include media("<677px") {
    justify-content: center;
  }

  &__icon {
    fill: c(l);

    &:hover {
      fill: c(l);
    }
  }
}

.a-licence {
  @include f(s);
  text-align: center;
}