
.o-intro {
  display: flex;
  margin: auto;

  &__container {
    height: 60vh;
    display: flex;
    align-items: center;

    @include media("<920px") {
      flex-direction: column;
      align-items: center;
      height: max-content;
    }
  }

  &__imgBlock {
    width: 50%;
    height: 90%;
    align-items: center;
    display: flex;
    &.-img{
      width: 100%;
    }
  }

  &__txtBlock {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 2rem 0;

    @include media("<920px") {
      width: 70%;
    }
  }

  &__article {
    margin: auto;
    color: c(d);
    display: flex;
    flex-direction: column;
    width: 70%;
    @include media("<920px") {
      width: 100%;
    }
  }

  &__text {
    @include p(m);
    display: flex;
    flex-direction: column;

    &.-line {
      @include f(s);
    }
  }
}



