.o-nav {
  position: fixed;
  z-index: 10;
  top: 0;
  height: 9rem;
  display: flex;
  flex-direction: column;

  @include media("<tablet") {
    top: unset;
    height: 7rem;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    height: 9rem;
    margin: auto;

    &.-menuBtn {
      display: none;
      position: relative;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      cursor: pointer;
      transition: all 0.5s;
      opacity: 0;
      z-index: 2;

      @include media("<tablet") {
        display: flex;
      }
    }
  }

  &__mainMenu {
    display: flex;
    align-items: center;
    font-size: 1.2rem;


    &Links {
      ul {
        display: flex;
        justify-content: center;
        padding: 0;
        margin: 3vw;
        @include media("<tablet") {
          display: none;
          margin: 0;
        }
        li {
          padding: 0 1.5em;
          align-self: center;
          white-space: nowrap;

          & a::after {
            opacity: 1;
            transform: scale(0);
            transform-origin: center;
          }

          & a:hover::after,
          & a:focus::after {
            transform: scale(1);
          }

          &.current-menu-item {
            background-color: lighten(c(a1), 15%);
            border-radius: 3px;

            & a:hover::after,
            & a:focus::after {
              transform: scale(0);
            }
          }
        }

        a {
          display: block;
          position: relative;
          padding: 0.2em 0;
        }

        a::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 0.1em;
          background-color: c(a1);
          opacity: 0;
          transition: opacity 300ms, transform 300ms;
        }

        a:hover::after,
        a:focus::after {
          opacity: 1;
          transform: translate3d(0, 0.2em, 0);
        }
      }

      &.-buttons {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

    }

  }

  &__mobMenu {
    display: none;
    @include media("<tablet") {
      display: block;
    }

    &.-menuBtn {
      display: flex;
      position: relative;
      justify-content: center;
      align-items: center;
      width: 35px;
      height: 35px;
      cursor: pointer;
      transition: all 0.5s;
      opacity: 0;
      z-index: 11;
      margin: 0 0 0 6vw;
      @include media("<575px") {
        margin-left: 7vw;
      }
      @include media("<560px") {
        margin-left: 7.5vw;
      }
      @include media("<480px") {
        margin-left: 8vw;
      }
      @include media("<470px") {
        margin-left: 8.5vw;
      }

      &__burger {
        top: 26.5px;
        right: 0;
        width: 35px;
        height: 3px;
        position: absolute;
        background: c(d);
        border-radius: 3px;
        transition: all 0.5s;
      }

      &__burger::before,
      &__burger::after {
        content: "";
        position: absolute;
        z-index: 0;
        width: 35px;
        height: 3px;
        background: c(d);
        border-radius: 3px;
        transition: all 0.5s ease-in-out;
      }


      &__burger::before {
        transform: translateY(-8px);
      }

      &__burger::after {
        transform: translateY(8px);
      }
    }

    &.-menuBtn:checked + &.-menuBtn__burger {
      transform: translateX(-50px);
      background: transparent;
      box-shadow: none;
    }

    &.-menuBtn:checked + &.-menuBtn__burger::before {
      transform: rotate(45deg) translate(35px, -35px);
    }

    &.-menuBtn:checked + &.-menuBtn__burger::after {
      transform: rotate(-45deg) translate(35px, 35px);
    }
  }
}

.o-mobileNav {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 100;
  bottom: 50%;
  left: 0;
  background-color: c(l);
  overflow-x: hidden;
  transition: 0.5s;


  &__content{
    position: relative;
    top: 40%;
    width: 100%;
    font-size: 2rem;

    ul{
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      li{
        margin: 20px 0 0;
      }
    }
  }
}

.o-nav__mobMenu.-menuBtn:checked ~ .o-mobileNav {
  height: 100%;
  bottom: 7rem;
}