html body .modula.modula-columns .modula-items.grid-gallery .modula-item.effect-under .modula-item-content {
  height: 25% !important;
}

.modula-gallery .modula-items .modula-item.effect-under .figc-inner {
  line-height: 2 !important;
}

#jtg-81 .modula-items .figc .jtg-title {
  line-height: inherit;
}

.modula-gallery .modula-items .modula-item.effect-under .figc {
  padding: 0;
}

.modula-gallery .modula-items .modula-item.effect-under .figc p.description {
  padding: 0 !important;
}

.modula-gallery .modula-items .modula-item.effect-under .figc {
  padding: 0 !important;
}