.o-post {
  margin: 5rem 0 5rem 0;

  &__title {
    margin: 0 0 5rem 0;
  }
}

.o-postsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1vw;
  margin: 2rem 0 2rem 0;

  @include media("<1024px") {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include media("<829px") {
    grid-template-columns: 1fr 1fr;
  }
  @include media("<559px") {
    grid-template-columns: 1fr;
  }
}


.m-post {
  //width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column-reverse;
  background: black;
  overflow: hidden;


  &__img{
    opacity: 0.4;
    object-fit: cover;
    height: 100%;
    overflow: hidden;

    &:hover {
      opacity: 1;
    }
  }
  &__title {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    height: 3.9rem;

    &Wrapper {
      height: 100px;
      background: c(d);
      color: c(l);
      padding: 1rem 2rem 1rem 2rem;
    }
  }
}

