/*Services*
  
  body.services {
      background-color: #f1f1f1;
  }
  
  body.services .X {
      display: block;
      margin: 7% 10%;
  }
  
  .text {
      text-align: justify;
  }
  
  .text-year {
      font-weight: bold;
      display: inline;
  }
  
  .ht1 {
      font-weight: bold;
      display: inline;
  }
  
  .spacer {
      height: 10px;
  }
  
  
  /*END Services*/