/*

Theme Name: proof-of-art-layout

Author: proof-of-art

Version: 1.0

*/
/*Basic*/
html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}
body * {
  max-height: 9999999px;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  line-height: 30px;
}

h1 {
  font-size: 16px;
}

h2 {
  font-size: 15px;
}

h3 {
  font-size: 14px;
}

p, ul, ol {
  margin: 0px 0;
}

blockquote {
  padding: 5px 0 5px 15px;
  margin: 0 0 20px;
  font-style: italic;
  background: #fff;
  border-left: 5px solid #9db668;
}

strong {
  color: #111;
}

img {
  border: 0;
  max-width: 100%;
  height: 100%;
}

a:link, a:visited {
  text-decoration: none;
  color: #818181;
}



.ie {
  display: none;
}

ul {
  list-style-type: none;
  padding-left: 0px;
  text-decoration: none;
  color: #262626;
}

ol {
  list-style-type: none;
  padding-left: 0px;
}

ul li,
ol li {
  padding: 5px 0;
}

.alignleft {
  float: left;
  margin-right: 10px;
  margin-bottom: 5px;
}

.aligncenter {
  margin: 0 auto;
}

.alignright {
  float: right;
  margin-left: 10px;
  margin-bottom: 5px;
}

/*End Basic*/

/*All pages*/
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 22px;
  color: #f1f1f1;
  margin: 0;
  padding: 0;
  position: static;
  background-color: #000000;
  overscroll-behavior: none;
}

.allcontent-header{
  height: 100%;

  min-height: 100%;
}

.fullwidthcontent{
  width: 100% !important;
  max-width: 100% !important;
  min-width: 100% !important;
  height: 100% !important;
  max-height: 100% !important;
  min-height: 100% !important;
  top: 0 !important;
  right: 0px !important;
  left: 0px !important;
  bottom: 0 !important;
  padding-top:0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 10px !important;
  margin-top: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  margin-bottom: 0px !important;
  position: relative !important;
  float: none !important;
  display: flex !important;
  flex-wrap: wrap !important;
}


.page-content{
  width: 100% !important;
  max-width: 100% !important;
  min-width: 100% !important;
  height: 100% !important;
  max-height: 100% !important;
  min-height: 100% !important;
  top: 0 !important;
  right: 0px !important;
  left: 0px !important;
  bottom: 0 !important;
  padding-top:0px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  padding-bottom: 0px !important;
  margin-top: 0px !important;
  margin-right: 0px !important;
  margin-left: 0px !important;
  margin-bottom: 0px !important;
  position: relative !important;
  float: right !important;
 
}

#sidebar {
  display: none !important;
}
.content{
  height: 100vh;
  position: absolute; 
  overflow-y: auto;
  display: block;
  scroll-behavior: smooth;
}
/*END All pages*/
/*Front-page*/

.m-page-content {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0px;
}


.scroll-area {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100;
  flex: 100%;
  padding: 0 0px;
  font-size: 20px;
  margin: 0 auto;
}

.grid {
  overflow: auto;
  scroll-snap-type: y mandatory;
  height: 100vh;
  flex: 100%;
  padding: 0 0px;
  font-size: 20px;
  margin: 0 auto;
}

.grid img {
  vertical-align: middle;
  width: 100%;
}

.hero-image {
  position: relative;
  overflow: hidden;
  background-size: cover;
  min-height: 100%;
  display: flex;
  flex-flow: column;
  scroll-snap-align: center;
  margin-bottom: 5px;
}

#hero-image-1 {
  max-height: 100vh;
}

#hero-image-6 img {
  margin-bottom: 10px;
}

.hero-container {
  position: absolute;
  left: 20%;
  bottom: 10%;
  text-align: left;
}

.hero-container h1 {
  font-size: 26px;
  color: #f1f1f1;
  letter-spacing: 0.04em;
}

#hero-container-1 {
  left: 6%;
  bottom: 10%;
}
#hero-container-1 h1 {
  font-size: 28px;
}
#hero-container-2 {
  left: 4%;
  bottom: 45%;
}
#hero-container-3 {
  left: 4%;
  bottom: 48%;
}
#hero-container-4 {
  left: 4%;
  bottom: 48%;
}
#hero-container-5 {
  left: 4%;
  bottom: 50%;
}

#hero-container-6 {
  left: 5%;
  top: 15%;
}

.caption {
  display: block;
  margin-top: 26px;
  font-size: 15px;
  font-weight: bold;
  color: #f1f1f1;
  letter-spacing: 0.04em;
  line-height: 26px;
}

#social-links {
  margin-top: 23px;
  color: #f1f1f1;
  font-size: 0.8em;
}
#social-links a:link, a:visited {
  text-decoration: none;
  color: #f1f1f1;
  margin-top: 23px;
  color: #f1f1f1;
  font-size: 0.8em;
}

/*END Front-page*/
/*About*/

body.about .about {
    display: block;
    margin: 5% 7%;
}

.text{
text-align: justify;
}

.text-year{
  font-weight: bold;
  display: inline;
}

.ht1{
  font-weight: bold;
  display: inline;
}

.spacer{
  height: 20px;
}

/*END About*/
/*Gallery*/

body.gallery .gallery{
   display: block;
   margin: 0% 0%;
}

/*END Gallery*/
/*Video*/
body.m-video #page-content{
  margin-top: 1.6em;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.6em;
}


body.video #page-loading-content-area{
  flex-shrink: unset;
}

body.video .gallery{
  margin-top: 4%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5%;
  }

body.video .content{
  position: relative; 
}
  
  /*END Video*/
/*Lightbox(force)*/

.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #000000;
  opacity: .100; }

/*END Lightbox(force)*/

/*Preloader*/
.main-preloader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:  #000000;
}
.main-preloader-inner{
  width: 30%;
  height: 30%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}
#main-preloader-triangle{
  width:200px;
  height:200px; 
}

.main-preloader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
  -webkit-animation-name: fadeOut;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  }
  @keyframes fadeOut {

   100% {
     opacity: 0;
     visibility: hidden;

} }
/*END Preloader*/








/* Ajax loading
   Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 ) 
    
                50% 50% 
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block; 
}
/* END Ajax loading */ 

/*Mobile

@media (max-width: 992px){

  

}
*/

/*Tablets

@media (max-width: 1024px){

}
*/